{
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules":{
    "linebreak-style": 0,
    "arrow-parens": 0,
    "no-console": 0,
    "no-undef": 0,
    "no-alert": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "object-curly-newline": 0,
    "jsx-a11y/alt-text": 0,
    "react/button-has-type": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": 0,
    "react/function-component-definition": 0,
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0
  },
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  }
}