@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
#root {
  background-image: url("../public/assets/root-background-with-text.jpg");
  background-size: cover;
}

.chatarea, .sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.chatarea::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}